// vi: ft=c
// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
// https://github.com/zmkfirmware/zmk/tree/main/app/dts/behaviors
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

// Layers name to integer definition
#define DEFAULT 0
#define NUM 1
#define NAVI 2
#define FN 3

/ {
    behaviors {
        //mm: mod_morph {
        //    compatible = "zmk,behavior-mod-morph";
        //    #binding-cells = <0>;
        //    bindings = <&kp>, <&kp>;
        //    mods = <(MOD_RALT)>;
        //};
        mmleft: mod_morph_left {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N>, <&kp LEFT>;
            mods = <(MOD_RALT)>;
        };
        mmdown: mod_morph_down {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp E>, <&kp DOWN>;
            mods = <(MOD_RALT)>;
        };
        mmup: mod_morph_up {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp I>, <&kp UP>;
            mods = <(MOD_RALT)>;
        };
        mmright: mod_morph_right {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp O>, <&kp RIGHT>;
            mods = <(MOD_RALT)>;
        };
        mmab: mod_morph_apostrophe_backspace {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp APOSTROPHE>;
            mods = <(MOD_RALT)>;
        };
        mmds: mod_morph_delete_semicolon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp DELETE>;
            mods = <(MOD_RALT)>;
        };
        mto: mod_to_layer { // tap for layer, hold for modifier
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&to>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│  Q       │  W       │  F       │  P       │  G       │   │  J       │  L       │  U       │  Y       │  '"<BSPC>│
                &kp Q      &kp W      &kp F      &kp P      &kp G          &kp J      &kp L      &kp U      &kp Y      &mmab
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  A       │  R       │  S       │  T       │  D       │   │  H       │  N       │  E       │  I       │  O       │
                &kp A      &kp R      &kp S      &kp T      &kp D          &kp H      &mmleft    &mmdown    &mmup      &mmright
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  Z       │  X       │  C       │  V       │  B       │   │  K       │  M       │  ,<      │  .>      │  /?      │
                &kp Z &mt LCTRL X &mt RALT C &mt LGUI V     &lt NAVI B     &kp K &mt LGUI M &mt LALT COMMA &mt LCTRL DOT &kp FSLH
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                        &mt LCTRL ENTER  &mt LSHFT SPACE    &gresc   &mto RALT 1 // devicetree error: <Node /pin-controller/uart0_default in '/tmp/zmk-config/zephyr/misc/empty_file.c'> lacks #binding-cells
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        num_layer {
            bindings = < // TODO: Layer 2
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│  PLAY    │  1       │  2       │  3       │  =+      │   │ Fn Layer │ [{       │ ]}       │ \|       │ ;:       │
                &kp C_PP   &kp N1     &kp N2     &kp N3     &kp EQUAL      &to FN     &kp LBKT   &kp RBKT   &kp BSLH   &mmds
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  DELETE  │  4       │  5       │  6       │  0       │   │ PSCRN    │ LEFT     │ DOWN     │ UP       │ RIGHT    │
                 &kp DEL    &kp N4     &kp N5     &kp N6     &kp N0        &kp PSCRN  &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  ` ESC   │  7       │  8       │  9       │  -_      │   │ TAB      │ HOME     │ PG_UP    │ PG_DN    │ END      │
                 &gresc     &kp N7     &kp N8     &kp N9    &kp MINUS      &kp TAB    &kp HOME   &kp PG_UP &kp PG_DN   &kp END
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                 &to 0 &mt LSHFT SPACE &mt LCTRL ENTER &kp RALT
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        navi_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│ HOME     │ PG_DN    │ PG_UP    │ END      │ PSCRN    │   │          │          │          │          │          │
                &kp HOME  &kp PG_DN   &kp PG_UP  &kp END    &kp PSCRN      &trans     &trans   &bt BT_CLR  &bt BT_CLR_ALL &trans
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│ LEFT     │ DOWN     │ UP       │ RIGHT    │ Default  │   │          │TODO:BTDSC│          │          │          │
                &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &to NUM    &out OUT_TOG   &trans    &bt BT_PRV &bt BT_NXT &ext_power EP_TOG
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│ LCTRL    │ TAB      │ LALT     │ LGUI     │          │   │          │          │          │          │          │
                &kp LCTRL  &kp TAB    &kp LALT   &kp LGUI   &trans    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                 &trans     &trans         &trans     &trans
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        fn_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│ F1       │ F2       │ F3       │ F4       │ F5       │   │ F13      │ F14      │ F15      │ F16      │ F17      │
                &kp F1     &kp F2     &kp F3     &kp F4     &kp F5         &kp F13    &kp F14    &kp F15    &kp F16    &kp F17
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│ F6       │ F7       │ F8       │ F9       │ F10      │   │ F18      │ F19      │ F20      │ F21      │ F22      │
                &kp F6     &kp F7     &kp F8     &kp F9     &kp F10        &kp F18    &kp F19    &kp F20    &kp F21    &kp F22
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│ LCTRL    │ LALT     │ LGUI     │ F11      │ F12      │   │ F23      │ F24      │ RGUI     │ RALT     │ RCTRL    │
                &kp LCTRL  &kp LALT   &kp LGUI   &kp F11    &kp F12        &kp F23    &kp F24    &kp RGUI   &kp RALT   &kp RCTRL // TODO: meh key
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                 &to 0      &trans         &trans     &trans
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
	// TODO: mouse layer
    };
//         hold: hold_tap {
//             compatible = "zmk,behavior-hold-tap";
//             #binding-cells = <2>;
//             flavor = "tap-preferred";
//             tapping-term-ms = <220>;
//             quick-tap-ms = <150>;
//             require-prior-idle-ms = <100>;
//             bindings = <&kp>, <&kp>;
//         };
// 
//     conditional_layers {
//         compatible = "zmk,conditional-layers";
//         tri_layer {
//             if-layers = <1 2>;
//             then-layer = <3>;
//         };
//     };
// 
};
