// vi: ft=c
// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
// https://github.com/zmkfirmware/zmk/tree/main/app/dts/behaviors
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

// Layers name to integer definition
#define DEFAULT 0
#define NUM 1
#define NAVI 2
#define FN 3

&mt {
    bindings = <&sk>, <&kp>;
}
&sk {
    quick-release;
}
&lt {
    require-prior-idle-ms = <100>;
}

/ {
    behaviors {
        /omit-if-no-ref/ mmsa: mod_morph_delete_semicolon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp APOSTROPHE>, <&kp SEMICOLON>;
            mods = <(MOD_RALT)>;
        };
        /omit-if-no-ref/ mmat: mod_morph_a_tab {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp A>, <&kp TAB>;
            mods = <(MOD_RALT|MOD_RGUI)>;
        };
        /omit-if-no-ref/ mmec: mod_morph_esc_caps {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&caps_word>;
            mods = <(MOD_LSFT)>;
        };
        /omit-if-no-ref/ esc: esc_ctrl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&mmec>;
        };
        /omit-if-no-ref/ rm: repeat_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&key_repeat>;
        };
        /omit-if-no-ref/ mto: mod_tap_to {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&sk>, <&to>;
        };
        /omit-if-no-ref/ lt2: layer_tap_2 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&to>;
        };
        /omit-if-no-ref/ mmzd: mod_morph_z_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp Z>, <&kp DEL>;
            mods = <(MOD_RALT)>;
        };
        /omit-if-no-ref/ ltz: layer_tap_z {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <100>;
            bindings = <&mo>, <&mmzd>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │ '"       │
                &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &mmsa
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  A       │  R       │  S       │  T       │  G       │   │ M        │  N       │  E       │  I       │  O       │
                &mmat      &kp R      &kp S      &kp T      &kp G          &kp M      &kp N      &kp E      &kp I      &kp O
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  Z       │  X       │  C       │  D       │  V       │   │  K       │  H       │  ,<      │  .>      │  /?      │
               &ltz FN Z &lt LCTRL X &lt RALT C &lt RGUI D &lt NAVI V      &kp K &lt LGUI H &lt LALT COMMA &lt LCTRL DOT &kp FSLH
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                          &esc LCTRL ESC &mt LSHFT SPACE &rm RALT R &lt2 NUM NUM // esc gets thumb because of vim and as a safe key to verify layer 0
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        num_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│ `~       │  1       │  2       │  3       │  =+      │   │ ;:       │ [{       │ ]}       │ \|       │ BSPC     │
                &kp GRAVE  &kp N1     &kp N2     &kp N3     &kp EQUAL      &kp SEMI   &kp LBKT   &kp RBKT   &kp BSLH   &kp BSPC
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│ TAB      │  4       │  5       │  6       │  0       │   │ TAB      │ LEFT     │ DOWN     │ UP       │ RIGHT    │
                &kp TAB    &kp N4     &kp N5     &kp N6     &kp N0         &kp TAB    &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│ DELETE   │  7       │  8       │  9       │  -_      │   │ PSCRN    │ HOME     │ PG_UP    │ PG_DN    │ END      │
                &kp DEL    &kp N7     &kp N8     &kp N9     &kp MINUS      &kp PSCRN  &kp HOME   &kp PG_UP &kp PG_DN   &kp END
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                          &mto LCTRL 0 &mt LSHFT SPACE &mt RALT ENTER &lt2 FN FN
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        navi_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│ `~ESC    │ PREV SONG│PLAY/PAUSE│ NEXT SONG│ PSCRN    │   │          │          │          │          │          │
                &gresc    &kp C_PREV  &kp C_PP  &kp C_NEXT  &kp PSCRN      &trans     &trans   &bt BT_CLR  &bt BT_CLR_ALL &trans
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│ LEFT     │ DOWN     │ UP       │ RIGHT    │ Num Layer│   │          │TODO:BTDSC│          │          │          │
                &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &to FN     &out OUT_TOG &trans    &bt BT_PRV &bt BT_NXT &ext_power EP_TOG
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│ HOME     │ PG_DN    │ PG_UP    │ END      │          │   │          │          │          │          │          │
                &kp HOME  &kp PG_DN   &kp PG_UP  &kp END    &trans    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                               &kp LA(TAB)  &kp ENTER       &trans     &to FN
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        fn_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│ F1       │ F2       │ F3       │ F4       │ F5       │   │ F13      │ F14      │ F15      │ F16      │ F17      │
                &kp F1     &kp F2     &kp F3     &kp F4     &kp F5         &kp F13    &kp F14    &kp F15    &kp F16    &kp F17
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│ F6       │ F7       │ F8       │ F9       │ F10      │   │ F18      │ F19      │ F20      │ F21      │ F22      │
                &kp F6     &kp F7     &kp F8     &kp F9     &kp F10        &kp F18    &kp F19    &kp F20    &kp F21    &kp F22
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│ LCTRL    │ LALT     │ LGUI     │ F11      │ F12      │   │ F23      │ F24      │ RGUI     │ RALT     │ RCTRL    │
                &kp LCTRL  &kp LALT   &kp LGUI   &kp F11    &kp F12        &kp F23    &kp F24    &kp RGUI   &kp RALT   &kp RCTRL // TODO: meh key
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                 &to 0      &trans         &trans     &trans //&to GAME
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
	// TODO: mouse layer
    };
};
